<a href="https://colab.research.google.com/github/AryanDemi/AryanDemi/blob/main/A2_22_Exp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## Software Lab Exp 2

In [ ]:
# Name: Aryan Bokde
# Section: A2
# Roll No: 22

In [ ]:
# This example returns the items from "orange" (-4) to, but inot including "mango"(-1)
thislist = ["apple","banana","cherry","orange","kiwi","mango"]
print(thislist[-4:-2])

['cherry', 'orange']

In [ ]:
# Q1. Write a python program to count the occurence of vowels in a list.
#     list = ["s","h","r","i,"r","a","m","d","o","e","b","a","b","a","c","o","l","l","e","g","e"]

thislist = ["s","h","r","i","r","a","m","d","o","e","b","a","b","a","c","o","l","l","e","g","e"]
vowels = ["a","e","i","o","u"]
count = 0
for i in thislist:
  if i in vowels:
    count += 1
print(count)

9

In [ ]:
# Q2. Given a list, slice it into two equal sized chunks. Your chunk size should be maximum size possible and reverse each chunk and print the list.
# Hint: list = [1,2,3,4,5,6,7,8,9,1]

thislist = ["1","2","3","4","5","6","7","8","9","1"]
chunk = len(thislist)//2
chunk1 = [thislist[x] for x in range(chunk)]
chunk2 = [thislist[x] for x in range(chunk,len(thislist))]
print(chunk1)
print(chunk2)

['1', '2', '3', '4', '5']
['6', '7', '8', '9', '1']

In [ ]:
# Q3. Write a program to find the repeated items of a tuple.

thislist = (1,2,3,2,6,2,4,3,9,7)
count = 0
for i in thislist:
  if i == 2:
    count+=1
print(count)

3

In [ ]:
# Q4. Write a python program to remove the punctuations from a string.

string = "This is a (python) ! lab"
punctuations = '";:,<.>/?\|[{]}`~!@#$%^&*()-_]'
for x in string:
  if x in punctuations:
    string = string.replace(x,"")
print(string)

This is a python  lab

In [ ]:
# Q5. Write a pythin program to sum all the items in a list.

mylist = [1,2,3,2,6,2,4,3,9,7]
sum = 0
for i in mylist:
  sum += i
print(sum)

39

In [ ]:
# Q6. Write a program to get the largest number from a list.

mylist = [1,2,3,2,6,2,4,3,9,7]
max = 0
for i in mylist:
  if i>max:
    max = i
print(max)

9

In [ ]:
# Q7. Write a program to reverse the array.

mylist = [1,2,3,2,6,2,4,3,9,7]
mylist.reverse()
print(mylist)

[7, 9, 3, 4, 2, 6, 2, 3, 2, 1]

In [ ]:
# Find the average of the list.

mylist = [1,2,3,2,6,2,4,3,9,7]
sum = 0
for i in mylist:
  sum += i
print(sum)
print(sum/len(mylist))

39
3.9